<div class="main">
  <div class="title">
    <h1>Friends List</h1>
  </div>
  <ul *ngFor="let frined of friendsList">
    <li>
      <img src="{{ frined.profilePic }}">
    </li>
    <li>{{ frined.firstName }}</li>
    <li>{{ frined.lastName }}</li>
    <li>{{ frined.description }}</li>
  </ul>
</div>
<div class="user">
  <div class="container" *ngIf="user">
    <img [src]="user.profilePic" style="width: 200px; height: 200px;">
    <h2>{{ user.firstName }} {{ user.lastName }}'s profile</h2>
    <p>{{ user.description }}</p>
    <button [routerLink]="''">Back to home page</button>
  </div>
</div>
